@{
    ViewBag.Title = "parties";
}


<link href="~/bootstrap.css" rel="stylesheet" />
 <script src="~/bootstrap.js"></script>
<div class="row">
        
        <div class="col-md-3">
              <h1>Chairman</h1> </br></br>
              <img  src="~/images/nawaz modified.jpg" /> </br></br>
              <img  src="~/images/khan modified.jpg" /></br></br>
              <img  src="~/images/bilawal modified.jpg" /></br></br>
              <img  src="~/images/siraj modified.jpg" /></br></br>
              <img  src="~/images/fazal modified.jpg" /></br></br>           
        </div>
        <div class="col-md-5">
              <h1>Party Flag</h1> </br></br>
              <img  src="~/images/nLeague modified.jpg" /></br></br>
              <img  src="~/images/pti modified.jpg " /></br></br>
              <img  src="~/images/ppp modified.jpg" /></br></br>
              <img  src="~/images/ji modified.jpg" /></br></br>
              <img  src="~/images/jui modified.jpg" /></br></br>     

         </div>

        <div class="col-md-4">
            <h1>Description</h1> </br></br>
              <div class="jumbotron">
                <h4>Pakistan Muslim League</h4>
                <p>Chairman: Mian Nawaz Sharif</p>
                <p>Founded: April 17, 1985</p>

                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
              </div>
    
              <div class="jumbotron">
                <h4>Pakistan Tehreek e Insaaf</h4>
                <p>Chairman: Imran Khan Niazi</p>
                <p>Founded: August 17, 1992</p>

                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
              </div>
            
              <div class="jumbotron">
                <h4>Pakistan People Party</h4>
                <p>Chairman: Bilawal Bhutto Zardari</p>
                <p>Founded: August 17, 1992</p>

                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
              </div>
            
             <div class="jumbotron">
                <h4>Jamat e Islami</h4>
                <p>Chairman: Siraj Ul Haq</p>
                <p>Founded: August 17, 1992</p>

                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
              </div>
            
              <div class="jumbotron">
                <h4>Jmeat Ulama e Islam</h4>
                <p>Chairman: Maulana Fazal Ur Rehman</p>
                <p>Founded: August 17, 1992</p>

                <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
              </div>            

              
        </div>


    </div>