@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
<div class="col-lg-10 col-lg-offset-1">
                <h2>Choose Your Option</h2>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="../Admin/SignUpAdmin" class="btn btn-default btn-lg" style="width:200px"> <span class="network-name">SignUp As Admin</span></a>
                    </li>
                  <li><a href="/Voter/SignUpVoter" class="btn btn-default btn-lg" style="width:200px"><span class="network-name">SignUp As Voter</span></>
                    </li>
                  
                    
                </ul>
 </div>